public class Main {

    private static String NEWLINE = System.getProperty("line.separator");
    public static void main(String[] args) {

        String userInputFileName;
        String userOutputFileName;
        String outString;

     //create an array
        char first;
        char last;

        File FILE = new File("uInfo.txt");
        Scanner SCAN = new Scanner (System.in);

        System.out.println("Please type in your first name");

        

        System.out.println("");



        try {
            BufferedWriter fileOut = new BufferedWriter(new FileWriter(FILE));
        }
        /*


        System.out.println("Please INPUT your age\n");

        Scanner scanSystemIn = new Scanner(System.in, "UTF-8");


        while (scanSystemIn.hasNextInt()){
            userInputFileName = scanSystemIn.next();
            System.out.println("\n"first + last + userInputFileName);

        }*/

    }
}
